<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="./assets/css/theme.css" rel="stylesheet"/>
		<meta name="theme-color" content="#ffffff">

		{% block title %}Se connecter
		{% endblock %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>


	{% block body %}
		<div class="mx-auto col-md-4 mt-3">

			<form class="form-group mb-6" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}


				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<button class="btn btn-lg btn-primary" type="submit">
					Se connecter
				</button>
			</form>
		</div>
	{% endblock %}
</html>
{#
	  Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
	  See https://symfony.com/doc/current/security/remember_me.html
	
	  <div class="checkbox mb-3">
	      <label>
	          <input type="checkbox" name="_remember_me"> Remember me
	      </label>
	  </div>
	#}
