<section>
	<div class="bg-holder" style="background-image:url(assets/img/illustrations/article-bg.png);background-position:right center;background-size:auto;"></div>
	<!--/.bg-holder-->

	<div class="container-lg">
		<div class="bg-holder" style="background-image:url(assets/img/illustrations/dot-2.png);background-position:left top;background-size:initial;margin-top:120px;margin-left:-35px;"></div>
		<!--/.bg-holder-->

		<div class="row flex-center">
			<div class="col-auto text-center">
				<h2 class="fw-bold">Derniers Articles</h2>
				<hr class="mx-auto text-dark" style="height:2px;width:50px"/>
			</div>
		</div>


		<div class="row h-100 justify-content-center pt-6">

			{% for article in articles %}
				<div class="col-12 col-sm-9 col-md-4 mt-4">
					<div class="card h-60 rounded-3 shadow">
						<div class="card-body p-4 text-center text-md-start">
							<h4 class="fw-bold">{{article.titre}}</h4>
							<p class="card-text">{{article.contenu|u.truncate(200,'...',false)}}</p>
							<a class="stretched-link text-decoration-none" href="#" role="button">Découvrir
								<p class="h6 text-uppercaste text-muted mb_0 ms-auto">
									<time>Publiée le
										{{article.createdAt|date('d/m/Y')}}</time>
								</p>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
