<section class="py-8" id="testimonial">
	<div class="container">

		<!--/.bg-holder-->


		<!--/.bg-holder-->

		<div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<div class="row h-100">
						<div class="col-12">
							<div class="card text-white bg-primary-gradient">
								<div class="card-body p-4 p-md-4 p-lg-7">
									<h2 class="fw-bold text-white text-center">Droit des étrangers</h2>
									<hr class="mx-auto" style="height:2px;width:50px"/>
									<div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"><img class="img-fluid me-4 me-md-3 me-lg-4" src="assets/img/gallery/user-1.png" width="100" alt=""/>
										<div class="w-md-25 my-3">
											<h5 class="mb-0 fw-medium text-white">Lorem ipsum</h5>
											<p class="fw-normal mb-0">Lorem ipsum</p>
										</div>
										<div class="w-md-75">
											<p class="card-text ms-md-5">“Lorem do dolor aliquip occaecat proident ipsum eu adipisicing dolore est laboris Lorem incididunt.“</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<div class="row h-100">
						<div class="col-12">
							<div class="card text-white bg-primary-gradient">
								<div class="card-body p-4 p-md-4 p-lg-7">
									<h2 class="fw-bold text-white text-center">Droit social</h2>
									<hr class="mx-auto" style="height:2px;width:50px"/>
									<div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"><img class="img-fluid me-4 me-md-3 me-lg-4" src="assets/img/gallery/user-2.png" width="100" alt=""/>
										<div class="w-md-25 my-3">
											<h5 class="mb-0 fw-medium text-white">Lorem ipsum</h5>
									
										</div>
										<div class="w-md-75">
											<p class="card-text ms-md-5">“Lorem do dolor aliquip occaecat proident ipsum eu adipisicing dolore est laboris Lorem incididunt.“</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row h-100">
						<div class="col-12">
							<div class="card text-white bg-primary-gradient">
								<div class="card-body p-4 p-md-4 p-lg-7">
									<h2 class="fw-bold text-white text-center">Droit pénal</h2>
									<hr class="mx-auto" style="height:2px;width:50px"/>
									<div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"><img class="img-fluid me-4 me-md-3 me-lg-4" src="assets/img/gallery/user-3.png" width="100" alt=""/>
										<div class="w-md-25 my-3">
											<h5 class="mb-0 fw-medium text-white">Lorem ipsum</h5>
										</div>
										<div class="w-md-75">
											<p class="card-text ms-md-5">“Lorem do dolor aliquip occaecat proident ipsum eu adipisicing dolore est laboris Lorem incididunt.“</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4 flex-center">
				<div class="col-4 col-sm-5 text-end position-relative z-index-2">
					<a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</a>
				</div>
				<div class="col-auto position-relative z-index-2">
					<ol class="carousel-indicators">
						<li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
						<li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
						<li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
					</ol>
				</div>
				<div class="col-4 col-sm-5 position-relative z-index-2">
					<a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
