<section class="py-0">
	<div class="bg-holder" style="background-image:url(" /img/lyon-france-62743171.jpeg");background-position:left;background-size:auto;margin-top:-105px;"></div>
	<!--/.bg-holder-->

	<div class="container position-relative">
		<div class="row align-items-center">
			<div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="assets/img/illustrations/hero-header.png" alt=""/></div>
			<div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
				<h1 class="mb-4 display-3 fw-bold">Site
					<br class="d-block d-lg-none d-xl-block"/>Etienne Nicolas.</h1>
				<p class="mt-3 mb-4 fs-1">Lorem ipsum dolor sit amet. Qui perferendis dolores sed facilis tempora non
					<br class="d-none d-lg-block"/>eveniet dolores et labore quos nihil galisum et
					<br class="d-none d-lg-block"/>maiores quos ab soluta nostrum</p>
				<a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">Prendre rendez vous</a>
			</div>
		</div>
	</div>
</section>
