<section class="py-6 pt-7 bg-primary-gradient">
	<div class="bg-holder" style="background-image:url(assets/img/illustrations/dot.png);background-position:left bottom;background-size:auto;filter:contrast(1.5);"></div>
	<!--/.bg-holder-->

	<div class="bg-holder" style="background-image:url(assets/img/illustrations/dot-2.png);background-position:right top;background-size:auto;margin-top:-75px;"></div>
	<!--/.bg-holder-->

	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 order-0 order-sm-0 pe-6">
				<a class="text-decoration-none" href="#"><img class="img-fluid me-2" src="assets/img/icons/footer-logo.png" alt=""/><span class="fw-bold fs-1 text-light">Etienne Nicolas</span>
				</a>
				<p class="mt-3 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
			</div>
			<div class="col-4 col-md-4 col-lg mb-3 order-2 order-sm-1">
				<h6 class="lh-lg fw-bold text-light">Cabinet</h6>
				<ul class="list-unstyled mb-md-4 mb-lg-0">
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Expertises</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Honoraires</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Articles</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Contact</a>
					</li>
				</ul>
			</div>
			<div class="col-4 col-md-4 col-lg mb-3 order-3 order-sm-2">
				<h6 class="lh-lg fw-bold text-light">
					Expertises
				</h6>
				<ul class="list-unstyled mb-md-4 mb-lg-0">
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Droit des étrangers</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Droit pénal</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Droit social</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Droit du travail
						</a>
					</li>
				</ul>
			</div>
			<div class="col-4 col-md-4 col-lg mb-3 order-1 order-sm-3">
				<h6 class="lh-lg fw-bold text-light">Aides
				</h6>
				<ul class="list-unstyled mb-md-4 mb-lg-0">
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Me contacter</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">S'inscrire</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Se connecter</a>
					</li>
					<li class="lh-lg">
						<a class="text-light fs--1 text-decoration-none" href="#!">Prendre rendez vous</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>
