<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="#"><img class="d-inline-block me-3" src="/img/etiennenicolaslogo.png" width="50px"/>Etienne Nicolas</a>
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto pt-2 pt-lg-0">
				<li class="nav-item">
					<a class="nav-link fw-bold active" aria-current="page" href="#">Expertises</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Honoraires</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Articles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#testimonial">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
