 <html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./assets/css/theme.css" rel="stylesheet" />
    <meta name="theme-color" content="#ffffff">


		<title>
			{% block title %}Etienne Nicolas
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "base/nav.html.twig" %}

		{% block body %}{% endblock %}
		{% include "base/footer.html.twig" %}

	</body>
</html>
