{% extends 'base.html.twig' %}
{% block title %}Articles
{% endblock %}

{% block body %}

	{% for article in articles %}
		<h1>{{article.titre}}</h1>


		<div class="card text-center">
			<div class="card-header">
				<h1>{{article.titre}}</h1>
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<h1>{{article.titre}}</h1>
				</h5>
				<p class="card-text">
					<h1>{{article.contenu|u.truncate(100,"...",false)}}</h1>.</p>
				<a href="#" class="btn btn-primary">Lire l'article</a>
			</div>
			<div class="card-footer text-muted">
				2 days ago
			</div>
			<time>{{article.createdAt|date('d/m/Y')}}</time>
		</div>


	{% endfor %}
	<div class="d-flex justify-content-center">
		{% do articles.setPageRange(2) %}
		{{knp_pagination_render(articles)}}
	</div>
{% endblock %}
